<div class="jumbtron">
    <h1 class="displa-4 text-center">PRODUCTOS</h1>
    <hr>
    <div class="row">
        <div class="col-md-5">
            <h6 class="text-center">
                Agregar producto
            </h6>
            <app-item-producto></app-item-producto>
        </div>
        <div class="col-md-7">
            <h6 class="text-center">
                Listado producto
            </h6>
            <app-list-items-productos></app-list-items-productos>
        </div>
    </div>
</div>